* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

body {
    background-color: white;
    height: 4000px;
}

}

.nav_border {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;



    ul {
        padding: 0;
        margin: 0;
        background-color: #111;
    }
    li {
        display: inline;
        margin: 0;
    }
}

.active {
    background-color: tomato;
}

.nav_link {
    li a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }
    a:hover {
        background-color: tomato;
    }
  }

  header {
    height: 400px;
    width: 100%;
    background-image: url("picture/picture02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-origin: border-box;
    border-bottom: 10px solid tomato;
  }

  .main1 {
    padding: 100px;
    background-color: gray;
    border: 5px solid tomato;
    margin: 10px;
    border-radius: 20px;
    h3 {
        color: greenyellow;
    }
    label {
        color: #fff;
    }
  }

footer {
    height: 100px;
    width: 100%;
    background-color: seagreen;
    border-top: 20px solid tomato;

}